extends layout

block content
  div(class="container")
    div(class="row")
      div(class="col s12") 
        div(class="row center")
          h1 SAHYOG
          p(class="flow-text") Solving common needs
          div(class="row right")
            form(name="user_req", method="post", action="/newrequest")
              

        
        
