doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="navbar-fixed")
      nav(class="indigo darken-3")
        div(class="nav-wrapper")
          a(href="/",class="brand-logo") SAHYOG 
          ul(class="right hide-on-med-and-down")
            li
              a(href="/donate") Wish List
              a(href="/signup") Sign Up
              a(href="/signin") Sign In
              
              
    block content
    script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js")
