extends layout

block content
    div(class="container-fluid", style="min-height:900px;")
        div(class="container white")
            div(class="center")
                h1 SAHYOG
                br 
                h3(class="flow-text") Make the World a better place
            br
            br


            div(class="row center")
                div(class="col s6")                    
                    a(href="/donate", class="waves-effect waves-light btn") Doner
                    p(class="flow-text") Help If You Can 
                div(class="col s6")
                    a(href="/wisher", class="waves-effect waves-light btn") Wisher
                    p(class="flow-text") We are here to help 
                    
