extends layout

block content
 div(class="container")
        div(class="row")
            div(class="row center")
                h1 Sign In
            form(name="signin", method="POST", action="/signin")
                div(class="row col s6")
                    div(class="input-field col s12")
                        input(type="email", name="email_id", id="email_id", value="itssuryapratap@gmail.com")
                        label(for="email_id") Your email
                    div(class="input-field col s12")
                        input(type="password", name="password", id="password", value="surya@123")
                        label(for="password") Your Password
                    div(class="col s12")
                        button(type="submit", class="waves-effect waves-light btn") Sign In                        
